a {
  color: red; 
}
a:hover {
  color: lime;
}
p {
  font-family: Arial;
}

h1 + p {
  font-weight: bold;
}
.destaque {
  font-family: Arial, sans-serif; /* A fonte Arial para todos os elementos com a classe .destaque */
}

p.destaque {
  font-weight: bold; /* Quando .destaque é usado em um parágrafo, ele fica em negrito */
}

strong.destaque {
  color: red; /* Quando .destaque é usado em um strong, ele fica vermelho */
}